.homePage__container {
  background-image: radial-gradient(circle, rgba(204,204,204,0.34637605042016806) 0%, rgba(0, 0, 0, 0.79) 80%), url('../../Assets/fond.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 5;

  &-img {
    margin: 2rem 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  &-img-item {
    display: block;
    max-width: 30%;
    border: 2px solid #000000;
    border-radius: 20%;
    box-shadow: 0px 22px 6px -7px rgba(0, 0, 0, 0.74);
  }
}
