.eventfacebook__container {
  display: flex;
  margin: 10rem auto 1rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem;

  @media screen and ( max-width:1024px) {
    flex-direction: column;
    margin: 1rem auto;
  }
}