.articleEvent {
  background-color: rgba(68, 68, 68, 0.695);
  padding: 0.5rem;
  margin: 1rem;
  width: 100%;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 22px 6px -7px rgba(0, 0, 0, 0.74);

  &__content {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #fff;

    &-vynile {
      margin: 0.5rem;
      display: block;
      max-width: 50px;
      max-height: 50px;
  
      @media (prefers-reduced-motion: no-preference) {
          animation: homeEvent-logo-spin infinite 10s linear;
      }
    }

    &-date {
      font-size: 2rem;
      font-weight: bold;
    }

    &-hour {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__title {
    text-align: center;
    margin: 1rem auto;
    font-weight: bold;
    font-style: italic;
  }


  &__photo {
    display: block;
    max-width: 60%;
    margin: 0.5rem auto;
  }


  @media screen and (max-width:1024px) {
    width: 100%;
    margin: 0.5rem;
  }
}



@keyframes homeEvent-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}