@use 'src/styles/vars';

.nav__container {
  margin-bottom: 2.5rem;
  color: #FFF;
  display: flex;
  flex-direction: column;
  min-height: 250px;

  @media  screen and (max-width: 768px) {
    display: none;
  }
}

.nav-link {
  width: 100%;
  margin: 1rem auto;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem;
  border-bottom: 2px solid #fff;

  :hover {
    color: vars.$color;
    transition: all 0.2s;
  }

  &--active {
    color: vars.$color;
    box-shadow: inset 10px 0 0 vars.$color;
    border-bottom: 2px solid vars.$color;
  }
}

.nav-link p {
  padding: 0.5rem;
}

