.header {
  text-align: center;
  margin-bottom: 2rem;

  &-link:hover {
    cursor: pointer;
  }

  &-logo {
    display: block;
    max-width: 70%;
    pointer-events: none;
    margin: 0.5rem auto;
    @media screen and (max-width:600px) {
      width: 40%;
    }
    @media screen and (max-width:768px) {
      width: 45%;
    }
  }

  &-social-links-container {
    display: flex;
    justify-content: center;
  }

  &-social-link {
    margin: 0.5rem;
  }

  &-menu-burger {
    @media screen and (min-width:768px) {
      display: none;
    }
  }
}

