.sidebar__container {
  display: flex;
  flex-direction: column;
  color: #fff;
  flex: 1;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-right: 1px solid #ccc;

  @media screen and (max-width:768px) {
    flex-direction: row;
    position: sticky;
    justify-content: center;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
}



